<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kspt.dao.NavFirstMapper" >
  <resultMap id="BaseResultMap" type="com.kspt.model.NavFirst" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="first_name" property="firstName" jdbcType="CHAR" />
    <result column="first_url" property="firstUrl" jdbcType="VARCHAR" />
    <result column="url_target" property="urlTarget" jdbcType="CHAR" />
    <result column="icon_url" property="iconUrl" jdbcType="CHAR" />
    <result column="order_index" property="orderIndex" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, first_name, first_url, url_target, icon_url, order_index, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from zq_nav_first
    where id = #{id,jdbcType=CHAR}
  </select>
  <select id="selectBySelective" resultMap="BaseResultMap" parameterType="com.kspt.model.NavFirst" >
    select 
    <include refid="Base_Column_List" />
    from zq_nav_first where 1=1
    <if test="id != null" >
        and id=#{id}
      </if>
      <if test="firstName != null" >
        and first_name=#{firstName}
      </if>
      <if test="firstUrl != null" >
        and first_url=${firstUrl}
      </if>
      <if test="urlTarget != null" >
        and url_target=${urlTarget}
      </if>
      <if test="iconUrl != null" >
        and icon_url=${iconUrl}
      </if>
      <if test="orderIndex != null" >
        and order_index=#{orderIndex}
      </if>
      <if test="status != null" >
        and status=#{status}
      </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from zq_nav_first
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.kspt.model.NavFirst" >
    insert into zq_nav_first (id, first_name, first_url, 
      url_target, icon_url, order_index, 
      status)
    values (#{id,jdbcType=CHAR}, #{firstName,jdbcType=CHAR}, #{firstUrl,jdbcType=VARCHAR}, 
      #{urlTarget,jdbcType=CHAR}, #{iconUrl,jdbcType=CHAR}, #{orderIndex,jdbcType=BIGINT}, 
      #{status,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kspt.model.NavFirst" >
    insert into zq_nav_first
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="firstName != null" >
        first_name,
      </if>
      <if test="firstUrl != null" >
        first_url,
      </if>
      <if test="urlTarget != null" >
        url_target,
      </if>
      <if test="iconUrl != null" >
        icon_url,
      </if>
      <if test="orderIndex != null" >
        order_index,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="firstName != null" >
        #{firstName,jdbcType=CHAR},
      </if>
      <if test="firstUrl != null" >
        #{firstUrl,jdbcType=VARCHAR},
      </if>
      <if test="urlTarget != null" >
        #{urlTarget,jdbcType=CHAR},
      </if>
      <if test="iconUrl != null" >
        #{iconUrl,jdbcType=CHAR},
      </if>
      <if test="orderIndex != null" >
        #{orderIndex,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kspt.model.NavFirst" >
    update zq_nav_first
    <set >
      <if test="firstName != null" >
        first_name = #{firstName,jdbcType=CHAR},
      </if>
      <if test="firstUrl != null" >
        first_url = #{firstUrl,jdbcType=VARCHAR},
      </if>
      <if test="urlTarget != null" >
        url_target = #{urlTarget,jdbcType=CHAR},
      </if>
      <if test="iconUrl != null" >
        icon_url = #{iconUrl,jdbcType=CHAR},
      </if>
      <if test="orderIndex != null" >
        order_index = #{orderIndex,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kspt.model.NavFirst" >
    update zq_nav_first
    set first_name = #{firstName,jdbcType=CHAR},
      first_url = #{firstUrl,jdbcType=VARCHAR},
      url_target = #{urlTarget,jdbcType=CHAR},
      icon_url = #{iconUrl,jdbcType=CHAR},
      order_index = #{orderIndex,jdbcType=BIGINT},
      status = #{status,jdbcType=CHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
  	<update id="upOrderIndex" parameterType="map">
		UPDATE zq_nav_first set order_index=order_index+1 where order_index <![CDATA[ < ]]>  #{start} and order_index <![CDATA[>= ]]> #{finish} and id!=#{id}
	</update>
	<update id="downOrderIndex" parameterType="map">
		<!-- include 引用可重用的SQL代码段 -->
		UPDATE zq_nav_first set order_index=order_index-1 where order_index <![CDATA[ > ]]> #{start} and order_index <![CDATA[ <= ]]> #{finish} and id!=#{id}
	</update>
	
</mapper>