<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kspt.dao.NavThreeMapper" >
  <resultMap id="BaseResultMap" type="com.kspt.model.NavThree" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="three_name" property="threeName" jdbcType="CHAR" />
    <result column="second_id" property="secondId" jdbcType="CHAR" />
    <result column="three_url" property="threeUrl" jdbcType="VARCHAR" />
    <result column="url_target" property="urlTarget" jdbcType="CHAR" />
    <result column="icon_url" property="iconUrl" jdbcType="CHAR" />
    <result column="order_index" property="orderIndex" jdbcType="BIGINT" />
    <result column="first_id" property="firstId" jdbcType="CHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, three_name, second_id, three_url, url_target, icon_url, order_index, first_id, 
    status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from zq_nav_three
    where id = #{id,jdbcType=CHAR}
  </select>
    <select id="selectBySelective" resultMap="BaseResultMap" parameterType="com.kspt.model.NavThree" >
    select 
    <include refid="Base_Column_List" />
    from zq_nav_three
    where 1=1
     <if test="id != null" >
        and id=#{id}
      </if>
      <if test="threeName != null" >
        and three_name=#{threeName}
      </if>
      <if test="secondId != null" >
        and second_id=#{secondId}
      </if>
      <if test="threeUrl != null" >
        and three_url=#{threeUrl}
      </if>
      <if test="urlTarget != null" >
        and url_target=#{urlTarget}
      </if>
      <if test="iconUrl != null" >
        and icon_url=#{iconUrl}
      </if>
      <if test="orderIndex != null" >
        and order_index=#{orderIndex}
      </if>
      <if test="firstId != null" >
        and first_id=#{firstId}
      </if>
      <if test="status != null" >
        and status=#{status}
      </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from zq_nav_three
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.kspt.model.NavThree" >
    insert into zq_nav_three (id, three_name, second_id, 
      three_url, url_target, icon_url, 
      order_index, first_id, status
      )
    values (#{id,jdbcType=CHAR}, #{threeName,jdbcType=CHAR}, #{secondId,jdbcType=CHAR}, 
      #{threeUrl,jdbcType=VARCHAR}, #{urlTarget,jdbcType=CHAR}, #{iconUrl,jdbcType=CHAR}, 
      #{orderIndex,jdbcType=BIGINT}, #{firstId,jdbcType=CHAR}, #{status,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kspt.model.NavThree" >
    insert into zq_nav_three
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="threeName != null" >
        three_name,
      </if>
      <if test="secondId != null" >
        second_id,
      </if>
      <if test="threeUrl != null" >
        three_url,
      </if>
      <if test="urlTarget != null" >
        url_target,
      </if>
      <if test="iconUrl != null" >
        icon_url,
      </if>
      <if test="orderIndex != null" >
        order_index,
      </if>
      <if test="firstId != null" >
        first_id,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="threeName != null" >
        #{threeName,jdbcType=CHAR},
      </if>
      <if test="secondId != null" >
        #{secondId,jdbcType=CHAR},
      </if>
      <if test="threeUrl != null" >
        #{threeUrl,jdbcType=VARCHAR},
      </if>
      <if test="urlTarget != null" >
        #{urlTarget,jdbcType=CHAR},
      </if>
      <if test="iconUrl != null" >
        #{iconUrl,jdbcType=CHAR},
      </if>
      <if test="orderIndex != null" >
        #{orderIndex,jdbcType=BIGINT},
      </if>
      <if test="firstId != null" >
        #{firstId,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kspt.model.NavThree" >
    update zq_nav_three
    <set >
      <if test="threeName != null" >
        three_name = #{threeName,jdbcType=CHAR},
      </if>
      <if test="secondId != null" >
        second_id = #{secondId,jdbcType=CHAR},
      </if>
      <if test="threeUrl != null" >
        three_url = #{threeUrl,jdbcType=VARCHAR},
      </if>
      <if test="urlTarget != null" >
        url_target = #{urlTarget,jdbcType=CHAR},
      </if>
      <if test="iconUrl != null" >
        icon_url = #{iconUrl,jdbcType=CHAR},
      </if>
      <if test="orderIndex != null" >
        order_index = #{orderIndex,jdbcType=BIGINT},
      </if>
      <if test="firstId != null" >
        first_id = #{firstId,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kspt.model.NavThree" >
    update zq_nav_three
    set three_name = #{threeName,jdbcType=CHAR},
      second_id = #{secondId,jdbcType=CHAR},
      three_url = #{threeUrl,jdbcType=VARCHAR},
      url_target = #{urlTarget,jdbcType=CHAR},
      icon_url = #{iconUrl,jdbcType=CHAR},
      order_index = #{orderIndex,jdbcType=BIGINT},
      first_id = #{firstId,jdbcType=CHAR},
      status = #{status,jdbcType=CHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
  	<update id="upOrderIndex" parameterType="map">
		UPDATE zq_nav_three set order_index=order_index+1 where order_index <![CDATA[ < ]]>  #{start} and order_index <![CDATA[>= ]]> #{finish} and id!=#{id} 
	</update>
	<update id="downOrderIndex" parameterType="map">
		<!-- include 引用可重用的SQL代码段 -->
		UPDATE zq_nav_three set order_index=order_index-1 where order_index <![CDATA[ > ]]> #{start} and order_index <![CDATA[ <= ]]> #{finish} and id!=#{id}
	</update>
</mapper>