<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kspt.dao.OrgCompanyMapper" >
  <resultMap id="BaseResultMap" type="com.kspt.model.OrgCompany" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="co_code" property="coCode" jdbcType="CHAR" />
    <result column="co_name" property="coName" jdbcType="CHAR" />
    <result column="order_index" property="orderIndex" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.kspt.model.OrgCompany" extends="BaseResultMap" >
    <result column="co_memo" property="coMemo" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, co_code, co_name, order_index
  </sql>
  <sql id="Blob_Column_List" >
    co_memo
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from zq_org_company
    where id = #{id,jdbcType=CHAR}
  </select>
  <select id="selectBySelective" resultMap="ResultMapWithBLOBs" parameterType="com.kspt.model.OrgCompany" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from zq_org_company where 1=1
       <if test="coCode != null" >
        and co_code=#{coCode}
      </if>
      <if test="coName != null" >
         and co_name=#{coName}
      </if>
      <if test="orderIndex != null" >
       and order_index=#{orderIndex}
      </if>
      <if test="coMemo != null" >
        and co_memo=#{coMemo}
      </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from zq_org_company
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.kspt.model.OrgCompany" >
    insert into zq_org_company (id, co_code, co_name, order_index, 
      co_memo)
    values (#{id,jdbcType=CHAR}, #{coCode,jdbcType=CHAR}, #{coName,jdbcType=CHAR}, #{orderIndex,jdbcType=BIGINT}, 
      #{coMemo,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kspt.model.OrgCompany" >
    insert into zq_org_company
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="coCode != null" >
        co_code,
      </if>
      <if test="coName != null" >
        co_name,
      </if>
      <if test="orderIndex != null" >
        order_index,
      </if>
      <if test="coMemo != null" >
        co_memo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="coCode != null" >
        #{coCode,jdbcType=CHAR},
      </if>
      <if test="coName != null" >
        #{coName,jdbcType=CHAR},
      </if>
      <if test="orderIndex != null" >
        #{orderIndex,jdbcType=BIGINT},
      </if>
      <if test="coMemo != null" >
        #{coMemo,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kspt.model.OrgCompany" >
    update zq_org_company
    <set >
      <if test="coCode != null" >
        co_code = #{coCode,jdbcType=CHAR},
      </if>
      <if test="coName != null" >
        co_name = #{coName,jdbcType=CHAR},
      </if>
      <if test="orderIndex != null" >
        order_index = #{orderIndex,jdbcType=BIGINT},
      </if>
      <if test="coMemo != null" >
        co_memo = #{coMemo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.kspt.model.OrgCompany" >
    update zq_org_company
    set co_code = #{coCode,jdbcType=CHAR},
      co_name = #{coName,jdbcType=CHAR},
      order_index = #{orderIndex,jdbcType=BIGINT},
      co_memo = #{coMemo,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kspt.model.OrgCompany" >
    update zq_org_company
    set co_code = #{coCode,jdbcType=CHAR},
      co_name = #{coName,jdbcType=CHAR},
      order_index = #{orderIndex,jdbcType=BIGINT}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>