<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kspt.dao.OrgDepartmentMapper" >
  <resultMap id="BaseResultMap" type="com.kspt.model.OrgDepartment" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="co_id" property="coId" jdbcType="CHAR" />
    <result column="dept_name" property="deptName" jdbcType="CHAR" />
    <result column="dept_code" property="deptCode" jdbcType="CHAR" />
    <result column="dept_parentid" property="deptParentid" jdbcType="CHAR" />
    <result column="order_index" property="orderIndex" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, co_id, dept_name, dept_code, dept_parentid, order_index
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from zq_org_department
    where id = #{id,jdbcType=CHAR}
  </select>
    <select id="selectBySelective" resultMap="BaseResultMap"  parameterType="com.kspt.model.OrgDepartment" >
    select 
    <include refid="Base_Column_List" />
    from zq_org_department  where 1 =1
       <if test="coId != null" >
       and co_id=#{coId}
      </if>
      <if test="deptName != null" >
         and dept_name=#{deptName}
      </if>
      <if test="deptCode != null" >
           and dept_code=#{deptCode}
      </if>
      <if test="deptParentid != null" >
       and dept_parentid=#{deptParentid}
      </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from zq_org_department
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.kspt.model.OrgDepartment" >
    insert into zq_org_department (id, co_id, dept_name, dept_code, 
      dept_parentid, order_index)
    values (#{id,jdbcType=CHAR}, #{coId,jdbcType=CHAR}, #{deptName,jdbcType=CHAR}, #{deptCode,jdbcType=CHAR}, 
      #{deptParentid,jdbcType=CHAR}, #{orderIndex,jdbcType=BIGINT})
  </insert>
  
  <insert id="insertSelective" parameterType="com.kspt.model.OrgDepartment" >
    insert into zq_org_department
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="coId != null" >
        co_id,
      </if>
      <if test="deptName != null" >
        dept_name,
      </if>
      <if test="deptCode != null" >
        dept_code,
      </if>
      <if test="deptParentid != null" >
        dept_parentid,
      </if>
      <if test="orderIndex != null" >
        order_index,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="coId != null" >
        #{coId,jdbcType=CHAR},
      </if>
      <if test="deptName != null" >
        #{deptName,jdbcType=CHAR},
      </if>
      <if test="deptCode != null" >
        #{deptCode,jdbcType=CHAR},
      </if>
      <if test="deptParentid != null" >
        #{deptParentid,jdbcType=CHAR},
      </if>
      <if test="orderIndex != null" >
        #{orderIndex,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kspt.model.OrgDepartment" >
    update zq_org_department
    <set >
      <if test="coId != null" >
        co_id = #{coId,jdbcType=CHAR},
      </if>
      <if test="deptName != null" >
        dept_name = #{deptName,jdbcType=CHAR},
      </if>
      <if test="deptCode != null" >
        dept_code = #{deptCode,jdbcType=CHAR},
      </if>
      <if test="deptParentid != null" >
        dept_parentid = #{deptParentid,jdbcType=CHAR},
      </if>
      <if test="orderIndex != null" >
        order_index = #{orderIndex,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kspt.model.OrgDepartment" >
    update zq_org_department
    set co_id = #{coId,jdbcType=CHAR},
      dept_name = #{deptName,jdbcType=CHAR},
      dept_code = #{deptCode,jdbcType=CHAR},
      dept_parentid = #{deptParentid,jdbcType=CHAR},
      order_index = #{orderIndex,jdbcType=BIGINT}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>