<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd"/>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<link href="/chajian/bootstrap-3.3.0-dist/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/chajian/bootstrap-3.3.0-dist/dist/js/bootstrap.min.js"></script><script type="text/javascript" src="/zq_js/jquery/jquery-1.7.1.min.js"></script>
<title></title>
</head>
<body>
<form name="form">
<table class="table table-bordered">
<tr>
<td>a</td><td>${a}</td>
<td>b</td><td>${b}</td>
</tr>
<tr>
<td>c</td><td colspan="3">${c}</td>
</table>
</form>
</body>
