<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd"/>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<link href="/chajian/bootstrap-3.3.0-dist/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" /> 
<link href="/chajian/uploadify/uploadify.css" rel="stylesheet" type="text/css" /> 
<script type="text/javascript" src="/zq_js/jquery/jquery-1.7.1.min.js"></script><script type="text/javascript" src="/chajian/bootstrap-3.3.0-dist/dist/js/bootstrap.min.js"></script><script type="text/javascript" src="/chajian/uploadify/jquery.uploadify.js"></script><script type="text/javascript" src="/chajian/bootstrap-3.3.0-dist/bootstrap3-validation.js"></script>
<title></title>
</head>
<body>
<form name="zq_form" id="zq_form">
<table class="table table-bordered">
<tr>
<td>用户名</td><td><input type="text"  name= "yhm"  id= "yhm" value=""/></td>
<td>邀请码</td><td><input type='hidden' name= 'yqm'  id= 'yqm'><input type='file' name= 'yqm_file'  id= 'yqm_file'><a href="javascript:$('#yqm_file').uploadify('upload','*')">开始上传</a><script type="text/javascript"> 
	$(function() { 
	    $("#yqm_file").uploadify({                 
	        'auto'     : false,                       
	        'swf'      : '/chajian/uploadify/uploadify.swf',  
	        'uploader' : '/run/form/upload.zq' ,  
	 'fileObjName' : 'file', 
	   'buttonText' : '请选择文件', 
	'onUploadSuccess' : function(file, data, response) {
		$("#yqm_file").after(jQuery.parseJSON(data).html); 
		$("#yqm").val(jQuery.parseJSON(data).value); 
      }  
	    });                                           
	});                                                
</script>  
</td>
</tr>
<tr>
<td>密码</td><td><input type="text"  name= "mm"  id= "mm" value=""/></td>
<td>姓名</td><td><input type="text"  name= "xm"  id= "xm" value=""/></td>
</tr>
<tr>
<td>电话</td><td><input type="text"  name= "dh"  id= "dh" value=""/></td>
<td>是否通过申请</td><td><input type="text"  name= "sptgsq"  id= "sptgsq" value=""/></td>
</tr>
</table>
<button type='button' onclick='saveZqForm()'>保存</button></form><script type="text/javascript"> 
	$(function() { 
	$("#zq_form").validation();
});                                           
function saveZqForm(){  
if ($("#zq_form").valid() == false) { 
	alert('填写信息不完整。');                   
	return false;                        
}                                     
var formObject=new Object();formObject.yhm=zq_form.yhm.value; 
formObject.yqm=zq_form.yqm.value; 
formObject.mm=zq_form.mm.value; 
formObject.xm=zq_form.xm.value; 
formObject.dh=zq_form.dh.value; 
formObject.sptgsq=zq_form.sptgsq.value; 
var formObjectJson = JSON.stringify(formObject);                 
$.post("/run/form/save.zq", {  
	formObjectJson :formObjectJson,                                 
	form_id :'f5408046042f474f80b20093f03f9109'                                 
}, function(data) {                           
	alert(data);                                 
});                                           
}                                         
</script>  

</body>
