<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kspt.dao.FormUiMapper" >
  <resultMap id="BaseResultMap" type="com.kspt.model.FormUi" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="form_er_id" property="formErId" jdbcType="CHAR" />
    <result column="metadata_map_id" property="metadataMapId" jdbcType="CHAR" />
    <result column="ui_title" property="uiTitle" jdbcType="CHAR" />
    <result column="is_null" property="isNull" jdbcType="BIGINT" />
    <result column="is_display" property="isDisplay" jdbcType="CHAR" />
    <result column="ui_type" property="uiType" jdbcType="CHAR" />
    <result column="ui_length" property="uiLength" jdbcType="CHAR" />
    <result column="order_index" property="orderIndex" jdbcType="BIGINT" />
    <result column="ui_name" property="uiName" jdbcType="CHAR" />
    <result column="is_edit" property="isEdit" jdbcType="BIGINT" />
    <result column="ui_length_type" property="uiLengthType" jdbcType="CHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.kspt.model.FormUiWithBLOBs" extends="BaseResultMap" >
    <result column="default_value" property="defaultValue" jdbcType="LONGVARCHAR" />
    <result column="ui_param" property="uiParam" jdbcType="LONGVARCHAR" />
    <result column="ui_html" property="uiHtml" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, form_er_id, metadata_map_id, ui_title, is_null, is_display, ui_type, ui_length, 
    order_index, ui_name, is_edit, ui_length_type
  </sql>
  <sql id="Blob_Column_List" >
    default_value, ui_param, ui_html
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from zq_form_ui
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from zq_form_ui
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.kspt.model.FormUiWithBLOBs" >
    insert into zq_form_ui (id, form_er_id, metadata_map_id, 
      ui_title, is_null, is_display, 
      ui_type, ui_length, order_index, 
      ui_name, is_edit, ui_length_type, 
      default_value, ui_param, ui_html
      )
    values (#{id,jdbcType=CHAR}, #{formErId,jdbcType=CHAR}, #{metadataMapId,jdbcType=CHAR}, 
      #{uiTitle,jdbcType=CHAR}, #{isNull,jdbcType=BIGINT}, #{isDisplay,jdbcType=CHAR}, 
      #{uiType,jdbcType=CHAR}, #{uiLength,jdbcType=CHAR}, #{orderIndex,jdbcType=BIGINT}, 
      #{uiName,jdbcType=CHAR}, #{isEdit,jdbcType=BIGINT}, #{uiLengthType,jdbcType=CHAR}, 
      #{defaultValue,jdbcType=LONGVARCHAR}, #{uiParam,jdbcType=LONGVARCHAR}, #{uiHtml,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kspt.model.FormUiWithBLOBs" >
    insert into zq_form_ui
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="formErId != null" >
        form_er_id,
      </if>
      <if test="metadataMapId != null" >
        metadata_map_id,
      </if>
      <if test="uiTitle != null" >
        ui_title,
      </if>
      <if test="isNull != null" >
        is_null,
      </if>
      <if test="isDisplay != null" >
        is_display,
      </if>
      <if test="uiType != null" >
        ui_type,
      </if>
      <if test="uiLength != null" >
        ui_length,
      </if>
      <if test="orderIndex != null" >
        order_index,
      </if>
      <if test="uiName != null" >
        ui_name,
      </if>
      <if test="isEdit != null" >
        is_edit,
      </if>
      <if test="uiLengthType != null" >
        ui_length_type,
      </if>
      <if test="defaultValue != null" >
        default_value,
      </if>
      <if test="uiParam != null" >
        ui_param,
      </if>
      <if test="uiHtml != null" >
        ui_html,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="formErId != null" >
        #{formErId,jdbcType=CHAR},
      </if>
      <if test="metadataMapId != null" >
        #{metadataMapId,jdbcType=CHAR},
      </if>
      <if test="uiTitle != null" >
        #{uiTitle,jdbcType=CHAR},
      </if>
      <if test="isNull != null" >
        #{isNull,jdbcType=BIGINT},
      </if>
      <if test="isDisplay != null" >
        #{isDisplay,jdbcType=CHAR},
      </if>
      <if test="uiType != null" >
        #{uiType,jdbcType=CHAR},
      </if>
      <if test="uiLength != null" >
        #{uiLength,jdbcType=CHAR},
      </if>
      <if test="orderIndex != null" >
        #{orderIndex,jdbcType=BIGINT},
      </if>
      <if test="uiName != null" >
        #{uiName,jdbcType=CHAR},
      </if>
      <if test="isEdit != null" >
        #{isEdit,jdbcType=BIGINT},
      </if>
      <if test="uiLengthType != null" >
        #{uiLengthType,jdbcType=CHAR},
      </if>
      <if test="defaultValue != null" >
        #{defaultValue,jdbcType=LONGVARCHAR},
      </if>
      <if test="uiParam != null" >
        #{uiParam,jdbcType=LONGVARCHAR},
      </if>
      <if test="uiHtml != null" >
        #{uiHtml,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kspt.model.FormUiWithBLOBs" >
    update zq_form_ui
    <set >
      <if test="formErId != null" >
        form_er_id = #{formErId,jdbcType=CHAR},
      </if>
      <if test="metadataMapId != null" >
        metadata_map_id = #{metadataMapId,jdbcType=CHAR},
      </if>
      <if test="uiTitle != null" >
        ui_title = #{uiTitle,jdbcType=CHAR},
      </if>
      <if test="isNull != null" >
        is_null = #{isNull,jdbcType=BIGINT},
      </if>
      <if test="isDisplay != null" >
        is_display = #{isDisplay,jdbcType=CHAR},
      </if>
      <if test="uiType != null" >
        ui_type = #{uiType,jdbcType=CHAR},
      </if>
      <if test="uiLength != null" >
        ui_length = #{uiLength,jdbcType=CHAR},
      </if>
      <if test="orderIndex != null" >
        order_index = #{orderIndex,jdbcType=BIGINT},
      </if>
      <if test="uiName != null" >
        ui_name = #{uiName,jdbcType=CHAR},
      </if>
      <if test="isEdit != null" >
        is_edit = #{isEdit,jdbcType=BIGINT},
      </if>
      <if test="uiLengthType != null" >
        ui_length_type = #{uiLengthType,jdbcType=CHAR},
      </if>
      <if test="defaultValue != null" >
        default_value = #{defaultValue,jdbcType=LONGVARCHAR},
      </if>
      <if test="uiParam != null" >
        ui_param = #{uiParam,jdbcType=LONGVARCHAR},
      </if>
      <if test="uiHtml != null" >
        ui_html = #{uiHtml,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.kspt.model.FormUiWithBLOBs" >
    update zq_form_ui
    set form_er_id = #{formErId,jdbcType=CHAR},
      metadata_map_id = #{metadataMapId,jdbcType=CHAR},
      ui_title = #{uiTitle,jdbcType=CHAR},
      is_null = #{isNull,jdbcType=BIGINT},
      is_display = #{isDisplay,jdbcType=CHAR},
      ui_type = #{uiType,jdbcType=CHAR},
      ui_length = #{uiLength,jdbcType=CHAR},
      order_index = #{orderIndex,jdbcType=BIGINT},
      ui_name = #{uiName,jdbcType=CHAR},
      is_edit = #{isEdit,jdbcType=BIGINT},
      ui_length_type = #{uiLengthType,jdbcType=CHAR},
      default_value = #{defaultValue,jdbcType=LONGVARCHAR},
      ui_param = #{uiParam,jdbcType=LONGVARCHAR},
      ui_html = #{uiHtml,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kspt.model.FormUi" >
    update zq_form_ui
    set form_er_id = #{formErId,jdbcType=CHAR},
      metadata_map_id = #{metadataMapId,jdbcType=CHAR},
      ui_title = #{uiTitle,jdbcType=CHAR},
      is_null = #{isNull,jdbcType=BIGINT},
      is_display = #{isDisplay,jdbcType=CHAR},
      ui_type = #{uiType,jdbcType=CHAR},
      ui_length = #{uiLength,jdbcType=CHAR},
      order_index = #{orderIndex,jdbcType=BIGINT},
      ui_name = #{uiName,jdbcType=CHAR},
      is_edit = #{isEdit,jdbcType=BIGINT},
      ui_length_type = #{uiLengthType,jdbcType=CHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>