<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kspt.dao.FormErMapper" >
  <resultMap id="BaseResultMap" type="com.kspt.model.FormEr" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="form_id" property="formId" jdbcType="CHAR" />
    <result column="metadata_id" property="metadataId" jdbcType="CHAR" />
    <result column="er_type" property="erType" jdbcType="BIGINT" />
    <result column="page_size" property="pageSize" jdbcType="BIGINT" />
    <result column="grid_order" property="gridOrder" jdbcType="CHAR" />
    <result column="er_layer" property="erLayer" jdbcType="BIGINT" />
    <result column="parent_er_id" property="parentErId" jdbcType="CHAR" />
    <result column="order_index" property="orderIndex" jdbcType="BIGINT" />
    <result column="grid_title" property="gridTitle" jdbcType="CHAR" />
    <result column="grid_height" property="gridHeight" jdbcType="BIGINT" />
    <result column="table_name" property="tableName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, form_id, metadata_id, er_type, page_size, grid_order, er_layer, parent_er_id, 
    order_index, grid_title, grid_height, table_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from zq_form_er
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from zq_form_er
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.kspt.model.FormEr" >
    insert into zq_form_er (id, form_id, metadata_id, 
      er_type, page_size, grid_order, 
      er_layer, parent_er_id, order_index, 
      grid_title, grid_height, table_name
      )
    values (#{id,jdbcType=CHAR}, #{formId,jdbcType=CHAR}, #{metadataId,jdbcType=CHAR}, 
      #{erType,jdbcType=BIGINT}, #{pageSize,jdbcType=BIGINT}, #{gridOrder,jdbcType=CHAR}, 
      #{erLayer,jdbcType=BIGINT}, #{parentErId,jdbcType=CHAR}, #{orderIndex,jdbcType=BIGINT}, 
      #{gridTitle,jdbcType=CHAR}, #{gridHeight,jdbcType=BIGINT}, #{tableName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kspt.model.FormEr" >
    insert into zq_form_er
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="formId != null" >
        form_id,
      </if>
      <if test="metadataId != null" >
        metadata_id,
      </if>
      <if test="erType != null" >
        er_type,
      </if>
      <if test="pageSize != null" >
        page_size,
      </if>
      <if test="gridOrder != null" >
        grid_order,
      </if>
      <if test="erLayer != null" >
        er_layer,
      </if>
      <if test="parentErId != null" >
        parent_er_id,
      </if>
      <if test="orderIndex != null" >
        order_index,
      </if>
      <if test="gridTitle != null" >
        grid_title,
      </if>
      <if test="gridHeight != null" >
        grid_height,
      </if>
      <if test="tableName != null" >
        table_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="formId != null" >
        #{formId,jdbcType=CHAR},
      </if>
      <if test="metadataId != null" >
        #{metadataId,jdbcType=CHAR},
      </if>
      <if test="erType != null" >
        #{erType,jdbcType=BIGINT},
      </if>
      <if test="pageSize != null" >
        #{pageSize,jdbcType=BIGINT},
      </if>
      <if test="gridOrder != null" >
        #{gridOrder,jdbcType=CHAR},
      </if>
      <if test="erLayer != null" >
        #{erLayer,jdbcType=BIGINT},
      </if>
      <if test="parentErId != null" >
        #{parentErId,jdbcType=CHAR},
      </if>
      <if test="orderIndex != null" >
        #{orderIndex,jdbcType=BIGINT},
      </if>
      <if test="gridTitle != null" >
        #{gridTitle,jdbcType=CHAR},
      </if>
      <if test="gridHeight != null" >
        #{gridHeight,jdbcType=BIGINT},
      </if>
      <if test="tableName != null" >
        #{tableName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kspt.model.FormEr" >
    update zq_form_er
    <set >
      <if test="formId != null" >
        form_id = #{formId,jdbcType=CHAR},
      </if>
      <if test="metadataId != null" >
        metadata_id = #{metadataId,jdbcType=CHAR},
      </if>
      <if test="erType != null" >
        er_type = #{erType,jdbcType=BIGINT},
      </if>
      <if test="pageSize != null" >
        page_size = #{pageSize,jdbcType=BIGINT},
      </if>
      <if test="gridOrder != null" >
        grid_order = #{gridOrder,jdbcType=CHAR},
      </if>
      <if test="erLayer != null" >
        er_layer = #{erLayer,jdbcType=BIGINT},
      </if>
      <if test="parentErId != null" >
        parent_er_id = #{parentErId,jdbcType=CHAR},
      </if>
      <if test="orderIndex != null" >
        order_index = #{orderIndex,jdbcType=BIGINT},
      </if>
      <if test="gridTitle != null" >
        grid_title = #{gridTitle,jdbcType=CHAR},
      </if>
      <if test="gridHeight != null" >
        grid_height = #{gridHeight,jdbcType=BIGINT},
      </if>
      <if test="tableName != null" >
        table_name = #{tableName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kspt.model.FormEr" >
    update zq_form_er
    set form_id = #{formId,jdbcType=CHAR},
      metadata_id = #{metadataId,jdbcType=CHAR},
      er_type = #{erType,jdbcType=BIGINT},
      page_size = #{pageSize,jdbcType=BIGINT},
      grid_order = #{gridOrder,jdbcType=CHAR},
      er_layer = #{erLayer,jdbcType=BIGINT},
      parent_er_id = #{parentErId,jdbcType=CHAR},
      order_index = #{orderIndex,jdbcType=BIGINT},
      grid_title = #{gridTitle,jdbcType=CHAR},
      grid_height = #{gridHeight,jdbcType=BIGINT},
      table_name = #{tableName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>