<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kspt.dao.MetadataMapper" >
  <resultMap id="BaseResultMap" type="com.kspt.model.Metadata" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="table_name" property="tableName" jdbcType="CHAR" />
    <result column="table_title" property="tableTitle" jdbcType="CHAR" />
    <result column="table_type" property="tableType" jdbcType="CHAR" />
    <result column="model_lib_id" property="modelLibId" jdbcType="CHAR" />
    <result column="master" property="master" jdbcType="CHAR" />
    <result column="order_index" property="orderIndex" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, table_name, table_title, table_type, model_lib_id, master, order_index
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from zq_metadata
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from zq_metadata
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.kspt.model.Metadata" >
    insert into zq_metadata (id, table_name, table_title, 
      table_type, model_lib_id, master, 
      order_index)
    values (#{id,jdbcType=CHAR}, #{tableName,jdbcType=CHAR}, #{tableTitle,jdbcType=CHAR}, 
      #{tableType,jdbcType=CHAR}, #{modelLibId,jdbcType=CHAR}, #{master,jdbcType=CHAR}, 
      #{orderIndex,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.kspt.model.Metadata" >
    insert into zq_metadata
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="tableName != null" >
        table_name,
      </if>
      <if test="tableTitle != null" >
        table_title,
      </if>
      <if test="tableType != null" >
        table_type,
      </if>
      <if test="modelLibId != null" >
        model_lib_id,
      </if>
      <if test="master != null" >
        master,
      </if>
      <if test="orderIndex != null" >
        order_index,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="tableName != null" >
        #{tableName,jdbcType=CHAR},
      </if>
      <if test="tableTitle != null" >
        #{tableTitle,jdbcType=CHAR},
      </if>
      <if test="tableType != null" >
        #{tableType,jdbcType=CHAR},
      </if>
      <if test="modelLibId != null" >
        #{modelLibId,jdbcType=CHAR},
      </if>
      <if test="master != null" >
        #{master,jdbcType=CHAR},
      </if>
      <if test="orderIndex != null" >
        #{orderIndex,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kspt.model.Metadata" >
    update zq_metadata
    <set >
      <if test="tableName != null" >
        table_name = #{tableName,jdbcType=CHAR},
      </if>
      <if test="tableTitle != null" >
        table_title = #{tableTitle,jdbcType=CHAR},
      </if>
      <if test="tableType != null" >
        table_type = #{tableType,jdbcType=CHAR},
      </if>
      <if test="modelLibId != null" >
        model_lib_id = #{modelLibId,jdbcType=CHAR},
      </if>
      <if test="master != null" >
        master = #{master,jdbcType=CHAR},
      </if>
      <if test="orderIndex != null" >
        order_index = #{orderIndex,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kspt.model.Metadata" >
    update zq_metadata
    set table_name = #{tableName,jdbcType=CHAR},
      table_title = #{tableTitle,jdbcType=CHAR},
      table_type = #{tableType,jdbcType=CHAR},
      model_lib_id = #{modelLibId,jdbcType=CHAR},
      master = #{master,jdbcType=CHAR},
      order_index = #{orderIndex,jdbcType=DECIMAL}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>